# Multiple Linear Regression

### Import Libraries

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

### Dataset

In [24]:
df = pd.read_csv("50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### Preprocessing

In [25]:
le = LabelEncoder()

In [29]:
df['State'] = le.fit_transform(df['State'])

In [31]:
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [43]:
x = df.iloc[:,:4]
y = df[['Profit']]

### Train/Test Split

In [68]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (35, 4) (35, 1)
Test set: (15, 4) (15, 1)

### Modeling

In [69]:
lr = LinearRegression()

In [70]:
lr.fit(x_train, y_train)

LinearRegression()

### Prediction

In [71]:
y_pred = lr.predict(x_test)
y_pred[0:5]

array([[ 97280.51680068],
       [ 56611.53041658],
       [ 74754.99654357],
       [109714.92400372],
       [153919.4593232 ]])

### Evaluation

In [72]:
lr.score(x_test, y_test)

0.9376485802834889

In [73]:
print("So called Accuracy :",round(y_pred.sum().mean()/y_test.sum().mean(),2),"%")

So called Accuracy : 0.97 %